@font-face {
  font-family: 'elfboyclassic';
  src: url('../fonts/elfboyclassic.ttf') format("truetype");
}

@font-face {
  font-family: 'publicpixel';
  src: url('../fonts/publicpixel.ttf') format("truetype");
}

body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Inconsolata', monospace;
}

canvas{
  z-index: -2;
}

.main-container {
  z-index: 2;
  height: 1000px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.online-image{
  height: 50px;
  width: auto;
  box-shadow: 0px 0px 10px 5px green;
}

#rain-canvas {
  position: absolute;
}

.logo-image {
  border: 2px solid grey;
  box-shadow: 
    0px 0px 10px 5px #90f797,
    0px 0px 100px 60px rgba(244, 217, 244, 0.429);
  z-index: 3;
}

.logo-container {
  background-color: rgb(0, 0, 0);
  z-index: 2;
}

.weather-div {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: 2px solid grey;
}

h1{
  margin: 0;
  padding: 0;
  color: rgb(176, 133, 255);
  text-shadow: 0px 0px 20px rgba(142, 64, 251, 0.7), 5px 5px 25px rgba(217, 183, 255, 0.7);
}

p{
  color: white;
  font-size: 1.2rem;
}

.section-container {
  z-index: 2;
  height: auto;
  width: 700px;
  border: 2px solid grey;
  background-color: rgba(0, 0, 0, 0.622);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.section-header{
  font-family: 'publicpixel';
  font-size: 50px;
}

.weather-img{
  height: 125px;
  width: auto
}

.cursor-buddy-container {
  background-color: white;
  z-index :99;
}

.cursor-buddy{
  z-index: 100;
  height: 75px;
  width: 75px;
  filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(303deg) brightness(110%) contrast(100%);
  transition: top 2.5s steps(36), left 2.5s steps(36)
}



















/* TEXT BLINKING*/
.crt {
  filter: invert(66%) sepia(77%) saturate(477%) hue-rotate(165deg) brightness(100%) contrast(102%);

}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.brightness {
    -webkit-animation: brightness .08s infinite;
    transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

@-webkit-keyframes brightness {
  0%, 100% {-webkit-filter: brightness(3); }
  20% {-webkit-filter: brightness(10); }
  50% { -webkit-filter: brightness(1); }
}